


<div class="container">

  <h1>Animatrónicos FNAF1</h1>

  <h2>Freddy</h2>
  <h2>Bonnie</h2>
  <h2>Chica</h2>
  <h2>Foxy</h2>

  <h2>Golden Freddy</h2>
  <div class="container">
    <%= image_tag('goldenfreddy.jpeg')%>

  </div>
  <br>
</div>
