<h1>Scott Cawthon</h1>
<div class="container">
  <p>
    El creador de FNAF había tenido previamente un periodo
    programando juegos, pero no fue exitoso.
    Algunos de estos estuvo entregado a
    Steam. Si bien The Desolate Hope superó el del proceso,
    algunos juegos, tales como Chipper and Sons Lumber Co.,
    fueron fuertemente criticados por reviewers por tener
    personajes que se movían e interaccionaban como máquinas
    animatrónicas. Desalentado, casi al punto de dejar el
    desarrollo de videojuegos completamente,
    Cawthon finalmente decidió utilizar personajes animatronicos
    a su favor, provocando el desarrollo de Five Nights at
    Freddy's. <br> /Extraido de Wikipedia
  </p>



  <div class="footer">
    <div class="footer-links d-flex justify-content-around">
      <a href="#"><i class="fa-brands fa-youtube"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-solid fa-globe"></i></a>
    </div>
  </div>
</div>
